<div class='container'>

<h1>Price Distribution by Service</h1>

  <form id='hcpcs'>
    <input class='text' type='text' name='hcpcs_code' placeholder='HCPCS Code'>
    <input class='button' type='submit' value='update data'>
  </form>

  <h2 id='service'></h2>

  <svg class="chart"></svg>

</div>
